/* BEM(대략 CSS작명 규칙)
   - : 일반적인 작명
   __ : ~의 일부분
   -- : ~의 상태 */

/* COMMON */
.body__container {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333;
}

a {
    text-decoration: none;
}

/* FLOAT CLEARFIX */
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.float--left {
    float: left;
}

.float--right {
    float: right;
}

/* SUMMARY */
.summary__title {
    font-size: 38px;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 18px;
}

.summary__description {
    font-size: 26px;
    font-weight: 300;
    color: #767676;
    line-height: 1.5;
}

/* SECTION & INNER */
.section {
    position: relative;
}

.section .inner {
    max-width: 980px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}


/* BTN */
.btn {
    height: 34px;
    background: #eee linear-gradient(to bottom, #fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    padding: 0 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    color: #333;
}

.btn:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.07);
}

.btn.btn--primary {
    border: 1px solid #65b836;
    color: #fff;
    background: #55a532 linear-gradient(#91dd70, #55ae2e);
}

.btn.btn--positive {
    border: 1px solid #2A52BE;
    color: #fff;
    background: #2A52BE linear-gradient(#607cca, #2047b5);
}

/* INPUT TEXT */
.input--text {
    height: 34px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    font-size: 16px;
}

.input--text:focus {
    border-color: #51a7e8;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075),
        0 0 5px rgba(81, 167, 232, 0.5);
}

.input--text::placeholder {
    /*최신 크롬, 사파리, 파이어폭스, 오페라에서는 작동하지만 구번전에서 작동하지 않을 수 있음*/
    color: #cacaca;
}

.input--text::-webkit-input-placeholder {
    color: #cacaca;
}

/*Vendor Prefix (브라우저 업체별 접두사)*/
.input--text::-ms-input-placeholder {
    color: #cacaca;
}

textarea::placeholder {
    color: #cacaca;
}

/* HEADER */
header {
    /* border-bottom: 1px solid rgba(0, 0, 0, .75);
    box-shadow: 0 0 5px rgba(0, 0, 0, .75); */
    background: #FFF;
}

header .inner {
    border-bottom: 1px solid #eee;
    ;
    height: 78px;
}

header .menu-group {
    display: flex;
    /* flex 컨테이너에 지정, .menu-group안에 자식요소들을 수직 정렬 */
    align-items: center;
    height: 100%;
}

header .logo {
    margin-right: 10px;
}

header .logo a {
    background: url(../img/Film-icon-mini.png);
    display: block;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
}

header .main-menu {
    display: flex;
}

header .main-menu li a {
    /* padding 값을 주기 위해 block요소로 변경 */
    display: block;
    padding: 10px;
    color: #3c4146
}

header .main-menu li a:hover {
    color: #4078c0
}

header .sign-group {
    display: flex;
    height: 100%;
    align-items: center;
}

header .btn-group {
    order: 2;
    display: flex;
}

header .btn-group .sign-in {
    margin-right: 4px;
}

header .btn-group .sign-up {
    margin-right: 4px;
}

#search-form {
    order: 1;
    margin-right: 12px;
}

#search {
    width: 180px;
    font-size: 14px;
}

#search+[type="submit"] {
    display: none;
}

header .sub-menu {
    display: flex;
    margin-right: 10px;
}

header .sub-menu li a {
    padding: 8px;
    display: block;
    font-size: 13px;
    color: #3c4146
}

header .sub-menu li a:hover {
    color: #4078c0
}

/* POST CONTAINER */

.section--container {
    background: #f0f2f5;
}

.section--container .inner {
    display: flex;
}

.postbox {
    border: 1px solid #000000;
    border-radius: 10px;
    box-sizing: border-box;
}

.top {
    width: 300px;
    height: 60px;

}

.top.logo {
    width: 24px;
    height: 24px;
    border-radius: 70%;
    overflow: hidden;
    background: url(../img/Film-icon-mini.png);
}

.top.name {
    text-align: center;
}

.middle {
    width: 300px;
    height: 200px;
    background: blue;
}

.bottom {
    width: 300px;
    height: 100px;
    background: tomato;
}

.bottom p {
    margin: 0 auto;
    display: block;
}

/* POST */
.section--post {
    padding: 30px 0;
    background: #f0f2f5;
}

.post {
    width: 500px;
    padding: 20px;
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 2px 6px rgba(0, 0, 0, 0.23);
}

.post img {
    margin-right: 10px; 
}

.post ul li:nth-child(1) {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.post ul li:nth-child(1) img {
    width: 40px;
    height: 40px;
}

.post ul li:nth-child(1) span {
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
}


.post li h1 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid #c6c6c6;
    padding: 15px 0 15px 0;
    line-height: 1.5em;
}

.post li .photo {
    display: block;
    width: 500px;
    height: 280px;
    margin: 0 auto;
}

.post li p {
    display: block;
    width: 500px;
    min-height: 200px;
    font-size: 16px;
    padding: 25px 0;
    line-height: 1.5em;
}

/* POSTING */

.section--posting {
    padding: 30px 0;
    background: #f0f2f5;
}

#posting-form h1 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
}

#posting-form {
    width: 500px;
    padding: 20px;
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 2px 6px rgba(0, 0, 0, 0.23);
}

#posting-form li {
    margin-bottom: 15px;
}

#posting-form li input {
    width: 100%;
}

#posting-form li textarea {
    /* textarea는 body 태크에 상속 안된다고 함 */
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 400px;
    padding: 10px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    font-size: 16px;
    resize: none;
}

#posting-form li textarea:focus {
    border-color: #51a7e8;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075),
        0 0 5px rgba(81, 167, 232, 0.5);
}

#posting-form li .btn {
    width: 100%;
    height: 62px;
    padding: 0 25px;
    font-size: 20px;
    justify-content: center;
}

/* USER INFO */
.section--userinfo {
    padding: 30px 0;
    background: #f0f2f5;
}

.userinfo {
    width: 340px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 2px 6px rgba(0, 0, 0, 0.23);
    padding: 20px;
    margin: 0 auto;
}

.userinfo li {
    margin: 15px 0;
}

.userinfo li:last-child {
    position: relative;
    height: 62px;
    background: #2A52BE linear-gradient(#607cca, #2047b5);
}

.userinfo h1 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid #c6c6c6;
    padding-bottom: 10px;
}

.userinfo h2 {
    font-size: 20px;
    font-weight: 600;
}

.userinfo p {
    font-size: 16px;
    margin: 15px 0 30px 0;
    line-height: 1.5em;
}

.userinfo img {
    display: block;
    margin: 30px auto;
    width: 200px;
    height: 200px;
    border-radius: 70%;
}

.userinfo li a {
    display: inline-flex;
    width: 100%;
    height: 62px;
    padding: 0 25px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    border: 1px solid #2A52BE;
    border-radius: 4px;
    color: #fff;
    background: #2A52BE linear-gradient(#607cca, #2047b5);
    cursor: pointer;
}

.userinfo li a:hover {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.07);
}

/* USER UPDATE*/
.section--updateuser {
    padding: 30px 0;
    background: #f0f2f5;
}

#update-form {
    /* width: 600px;
    padding: 20px;
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 2px 6px rgba(0, 0, 0, 0.23); */
    width: 340px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 2px 6px rgba(0, 0, 0, 0.23);
    padding: 20px;
    margin: 0 auto;
}

#update-form h1 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid #c6c6c6;
    padding-bottom: 10px;
}

#update-form h2 {
    font-size: 20px;
    font-weight: 600;
}

#update-form li {
    margin: 20px 0;
}

#update-form li input {
    width: 100%;
    margin-top: 10px;
}

#update-form li textarea {
    /* textarea는 body 태크에 상속 안된다고 함 */
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100px;
    padding: 10px 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    font-size: 16px;
    resize: none;
}

#update-form li textarea:focus {
    border-color: #51a7e8;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075),
        0 0 5px rgba(81, 167, 232, 0.5);
}

#update-form li .btn {
    width: 100%;
    height: 62px;
    padding: 0 25px;
    font-size: 20px;
    justify-content: center;
}



/* FOOTER */
footer {}

footer .inner {
    padding: 50px 0;
    border-top: 1px solid #eee;
}

footer .site-links {
    display: flex;
}

footer .site-links li {
    font-size: 12px;
    margin-right: 10px;
    color: #767676;
}

footer .site-links li a {
    color: #4078c0;
}

footer .site-links li a:hover {
    text-decoration: underline;
}

footer .logo {
    background: url(../img/Film-icon2424.png);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 24px;
    height: 24px;
    text-indent: -9999px;
}