<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>영화 속 세계로 떠나는 여정, 출발 비디오</title>

    <meta name="author" content="Team 2">
    <meta name="description" content="Movie news feed">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 가로 넓이 : 기기의 가로 넓이 사용, 초기 화면 배율 : 1, 확대 사용 : X, 최대 확대,축소 배율 : 1 -->
    <meta name="viewport"
        content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, minimum-scale=1">

    <!-- http://ogp.me/ -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="출발 비디오">
    <meta property="og:title" content="출발 비디오">
    <meta property="og:description" content="영화 속 세계로 떠나는 여정, 출발 비디오 - 최신 영화 소식과 정보를 만나보세요.">
    <meta property="og:image" content="img/movie-img.jpg">
    <!-- https://developer.twitter.com/en/docs/tweets/optimize-with-cards/guides/getting-started.html -->
    <meta property="twitter:card" content="summary">
    <meta property="twitter:site" content="출발 비디오">
    <meta property="twitter:title" content="출발 비디오">
    <meta property="twitter:description" content="영화 속 세계로 떠나는 여정, 출발 비디오 - 최신 영화 소식과 정보를 만나보세요.">
    <meta property="twitter:image" content="img/movie-img.jpg">

    <!-- 기본적으로 인터넷 익스플로러 브라우저는 이 코드가 명시되어 있지 않으면 루트 경로에 ico파일이 존재할시 알아서 가져다 사용한다 -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.png">
    <link rel="icon" href="favicon.png">
    <!-- 스마트폰에서도 제공할 때 필요 -->
    <link rel="apple-touch-icon" href="favicon.png">
    <!-- 구글 폰트 적용 -->
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap"
        rel="stylesheet">
    <!-- reset 링크는 반드시 main.css 위에 두기 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">
    <link rel="stylesheet" href="css/main.css">

</head>

<body>
    <!-- body 태그를 대신해서 사용할 body__container 생성 -->
    <div class="body__container">

        <!-- HEADER -->
        <header class="section">
            <div class="inner">

                <div class="menu-group float--left">
                    <div class="logo">
                        <a href="#">출발 비디오</a>
                    </div>
                    <ul class="main-menu">
                    </ul>
                </div>

                <div class="sign-group float--right">
                    <div class="btn-group">
                        <!-- inline 요소를 두개 이상 만들게되면 줄바꿈을 할 때 띄어쓰기 하나로 인식을 한다 -->
                        <a href="#" class="btn btn--primary posting">글쓰기</a>
                    </div>
                    <form id="search-form" method="GET" action="">
                        <input type="text" id="search" class="input--text" placeholder="검색어를 입력해 주세요.">
                        <input type="submit" value="Submit">
                    </form>
                    <ul class="sub-menu">
                        <li><a href="#">이름 표시될 공간</a></li>
                        <li><a href="#">로그아웃</a></li>
                    </ul>
                </div>

            </div>
        </header>

        <!-- POST -->
        <section class="section section--post">
            <div class="inner">
                <div class="post">
                    <ul>
                        <li><img src="./img/profile.jpg" alt="profile"><span>아이디아이디아이디</span></li>
                        <li><h1>“25년까지 전기차 배터리 가격 40%↓…내연기관차와 원가 비슷”</h1></li>
                        <li><img class="photo" src="./img/background1.jpg" alt="photo"></li>
                        <li>
                            <p>
                                (서울=연합뉴스) 주종국 기자 = 오는 2025년경까지 전기차 배터리 가격이 40%가량 급락해 내연기관 차량과 제조원가가 비슷해질 것이며, 이는 전기차 수요를 촉발할 것이라고 미국 대형 투자은행 골드만삭스가 예측했다.

23일 야후파이낸스에 따르면 골드만삭스는 관련 보고서에서 배터리 가격이 2022년부터 2025년까지 40%가량 하락할 것으로 전망했다.

가격 하락의 가장 큰 요소는 주로 리튬인산철(LFP)이나 리튬니켈망간코발트산화물(NMC)과 같은 리튬 산화물 재료로 구성되는 배터리 양극재 부분이다.

골드만삭스 분석에 따르면 2022년 배터리의 기본 가격은 kWh당 165달러 수준이다. 표준 크로스오버 전기차(예를 들면 테슬라 모델Y·후륜구동)의 경우 일반적으로 60kWh 용량 배터리를 사용하므로 2022년 배터리 팩 가격은 9천900달러 정도다.

배터리 가격이 2025년에 40% 하락하면 kWh당 99달러가 되고, 동일한 배터리 팩 가격은 5천940달러가 된다.

이후에도 가격 하락은 이어질 것으로 골드만삭스는 봤다. 2030년까지 평균 11% 하락해 kWh당 72달러가 될 것으로 예측했다.

                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>        

        <!-- FOOTER -->
        <footer class="section">
            <div class="inner clearfix">

                <ul class="site-links float--right">
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">API</a></li>
                    <li><a href="#">Training</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">About</a></li>
                </ul>

                <ul class="site-links float--left">
                    <li>출발 비디오</li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Security</a></li>
                    <li><a href="#">Status</a></li>
                    <li><a href="#">Help</a></li>
                </ul>

                <a href="#" class="logo">출발 비디오</a>
            </div>
        </footer>

    </div>
</body>

</html>