<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment.html::head}">
  <meta charset="UTF-8">
  <title>프로필 수정</title>
</head>

<header th:replace="~{fragment.html::header}"></header>
<body>

<div class="container">
  <div class="row mt-5 justify-content-center">
    <div class="col-2">
      <div th:replace="~{fragment.html::menu (currentMenu='password')}"></div>
    </div>

    <div class="col-8">
      <div class="row">
        <h2 class="col-sm-12" >UserId</h2>
      </div>

      <div class="row mt-3">
        <form class="col-sm-12" action="#"  method="post" novalidate>
          <div class="form-group">
            <label for="newPassword">새로운 비밀번호</label>
            <input id="newPassword" type="password" class="form-control" aria-describedby="passwordHelp" required min="8" max="20">
            <small id="passwordHelp" class="form-text text-muted">
              새로운 비밀번호를 입력하세요
            </small>
            <small class="invalid-feedback">비밀번호를 입력하세요.</small>
            <small class="form-text text-danger">New Password Error</small>
          </div>

          <div class="form-group mt-5">
            <label for="newPasswordConfirm">새로운 비밀번호 확인</label>
            <input id="newPasswordConfirm" type="password"class="form-control" aria-describedby="newPasswordConfirmHelp" required min="8" max="20">
            <small id="newPasswordConfirmHelp" class="form-text text-muted">
              새로운 비밀번호를 다시 한번 입력하세요.
            </small>
            <small class="invalid-feedback">새로운 비밀번호를 다시 입력하세요.</small>
            <small class="form-text text-danger" >New Password Confirm Error</small>
          </div>

          <div class="form-group d-flex justify-content-center mt-5">
            <button class="btn btn-outline-primary" type="submit" aria-describedby="submitHelp">패스워드 변경하기</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

</body>
</html>